*, *::before, *::after {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --primary-10: #f3f7fc;
    --primary-9: #e7eff7;
    --primary-8: #c9ddee;
    --primary-7: #99c1e0;
    --primary-6: #62a0ce;
    --primary-5: #3e85b9;
    --primary-4: #2d699c;
    --primary-3: #26557e;
    --primary-2: #254d70;
    --primary-1: #223e58;
    --secondary-10: #faf6f2;
    --secondary-9: #efe4d2;
    --secondary-8: #e8d7c0;
    --secondary-7: #d9bc98;
    --secondary-6: #c99b6e;
    --secondary-5: #bd8352;
    --secondary-4: #b06f46;
    --secondary-3: #92593c;
    --secondary-2: #764936;
    --secondary-1: #603d2e;
    --primary-white: #fff;
    --text-primary: #131D4F;
    --text-secondary: #954C2E;
    --radius: 0.5rem;
    --light-layer: 0.3;
    --dark-layer: 0.5;
    --transition: all 0.2s linear;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Signika Negative", sans-serif;
    line-height: 1.8;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}
img {
    width: 100%;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    color: var(--primary-2);
    font-weight: 700;
}

h1 {
    font-size: 4rem;
    letter-spacing: 5px;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

p {
    color: var(--primary-1);
}



/* -------------------------- navbar -----------------------------------------------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background: var(--secondary-9);   
    box-shadow: 0 0 15px 0 rgba(0,0,0,.10);
    padding: 0;

    ul {
        position: relative;
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        text-transform: uppercase;

        .logo_container {
            display: inline-block;
            width: 50px;
            height: 50px;
            z-index: 9;
        }

        li {
                display: inline-block;
                border-radius: 20px;
                a {
                    color: var(--primary-2);
                    display: block;
                    padding: 0.75rem 0.5rem;   
                }
                .menu_sub {
                    position: absolute;
                    left: 0;
                    background: #fff;
                    width: 100%;
                    display: none;
                    li {
                        border-radius: 20px;
                        padding: 0 10px;
                        text-transform: capitalize;
                        a {
                            padding: 5px 15px;
                            /* height: 40px; */
                        }
                    }
                }
            }

        li:hover {
            background: var(--primary-2);
            a {
                color: #fff;
            }
            .menu_sub {
                display: block;
                background: var(--secondary-10);
                ul {
                    width: 70%;
                    margin: 0 auto;
                    li {
                    display: block;
                    }
                    li:hover {
                        background: var(--primary-4);
                    }
                    a {
                        padding: 10px 0;
                        color: #444;
                    }
                    a:hover {
                        color: #fff;
                    }
                }
            }
        }

        .mobile_menu_list_item:hover {
            border-radius: 0;
            .mobile_sub {
                li {
                    border-radius: 0;
                }
            }
        }

        .icon_container {

            .icon_list {
                .icon_item {
                    border-radius: 50%;
                    a {
                        padding: 0.6rem 0.2rem;
                        width: 50px;
                        text-align: center; 
                    }
                }
            }
        }


        .mobile_menu {
            display: none;
        }

        .mobile_menu_toggle {
            cursor: pointer;
        }
        .mobile_menu_part {
            display: none;
            overflow: hidden;
            max-height: 0;
            z-index: 2;
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            background: var(--secondary-9);  
            text-align: center;
            transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
            transform: translateY(-100%);
            opacity: 0;
            
            .mobile_menu_list {
                display: flex;
                flex-direction: column;
                /* margin-top: 20px; */
                padding: 20px 0 50px;
                .mobile_menu_list_item {
                    display: block;
                    width: 100%;
                    a {
                        display: block;
                        padding: 0;
                        font-size: 1.2rem;
                    }
                    .menu_sub {
                        position: static;
                    }
                    ul {
                        display: flex;
                        flex-direction: column;
                        li {
                            display: block;
                            width: 100%;
                            text-align: left;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

        .mobile_menu_part.active {
            display: block;
            transform: translateY(0);
            max-height: 500px;
            opacity: 1;
                a {
                    color: #fff;
                    padding: 10px 0 10px 10px;
                }
                .menu_sub {
                    display: block;
                    ul {
                        width: 100%;
                        li {
                        display: block;
                        padding: 10px 0 10px 10px;
                        }
                        a {
                            padding: 0;
                            color: #444;
                        }
                        a:hover {
                            color: #fff;
                        }
                    }
                }
        }
        .mobile_sub {
            display: none;
        }
        .mobile_sub.active {
            display: block;
        }
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    nav {
        ul {
            justify-content: space-between;

            .menu_main,
            .icon_container {
                display: none;
            }
            li .menu_sub {
                display: none !important;
            }
            li .menu_sub.active {
                display: block !important;
            }
            .mobile_menu {
                display: block;
                .mobile_home {
                    color: var(--primary-2) !important;
                }
                .mobile_home:hover {
                    color: var(--primary-white) !important;
                }
                button {
                    display: block;
                    width: 100%;
                    text-align: left;
                    padding-left: 0;
                    text-transform: uppercase;
                    color: var(--primary-2);
                    background: var(--secondary-9);
                    font-size: 1.2rem;
                    border: none;
                }
                button:hover {
                    color: var(--primary-white);
                    background: var(--primary-2);
                }
            }
        }
    }

}

/* ---------------------------footer-------------------------------------------------- */
footer {
    width: 100%;
    background: var(--secondary-8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    .footer_menu_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
            h2 {
                text-transform: uppercase;
                font-size: 1.8rem;
                color: var(--primary-2);
                font-weight: 700;
                border-bottom: 1px solid var(--primary-2);
                padding-bottom: 10px;
                margin-bottom: 15px;
            }
            li {
                a {
                    text-transform: capitalize;
                    font-size: 1.2rem;
                    color: var(--primary-4)
                }
            }
            li:hover {
                background: var(--primary-2);
                a {
                    color: var(--primary-white);
                }
                
            }
    }
    .footer_icon_container {
        text-align: center;
        .icon_list {
            display: flex;
            flex-direction: row;
            text-align: center;
            .icon_item {
                margin: 20px;
                a .fa-brands{
                    font-size: 2rem;
                    color: var(--primary-4);
                    width: 50px;
                }
                
            }
        }
        
    }
    p {
        color: var(--primary-2);
        font-size: 1rem;
    }

}
@media (min-width: 0px) and (max-width: 768px) {
    footer {
        width: 100%;

        .footer_menu_container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                font-size: 1.6rem;
            }
            li {
                a {
                    font-size: 1.2rem;
                }
            }
        }
        .footer_icon_container {

            .icon_list {
                .icon_item {
                    a .fa-brands{
                        font-size: 1.6rem;
                    }
                }
            }
            
        }
        p {
            color: var(--primary-2);
            font-size: 1.1rem;
        }

    }
}
/* -------------------------- home ------------------------------------------------ */
.hero {
    background: url(/img/home/home_background.avif) center/cover no-repeat;
    position: relative;
    text-align: left;
    margin: 0 auto;
    padding-top: 50px;
    h1 {
        color: var(--primary-white);
        margin: 80px 0 20px;
    }
    p {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
        color: var(--primary-white);
    }

    .container {
        min-width: 100%;
        margin: 0 auto;
        padding: 50px;
        display: flex;
        flex-direction: column;
        /* key purpose - to center*/
        align-items: start;
        justify-content: start;
        height: 100vh;
        position: relative;
    }

    .btn {
        color: var(--primary-white);
        padding: 1rem 2rem;
        background: var(--primary-5);
        border: 1px solid var(--primary-white);
        border-radius: var(--radius);
        cursor: pointer;
        opacity: 0.6;
        text-transform: uppercase;
    }

    .btn:hover {
        opacity: 0.7;
        background: var(--primary-3);
    }
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,var(--light-layer));
}

.home_about {
    display: flex;
    flex-direction: row;
    background: var(--secondary-9);
    padding-top: 40px;
    article {
        width: 40%;
        padding: 20px;
        h2 {
            margin-top: 20px;
        }
        p {
            font-size: 1.1rem;
        }
        p::first-letter {
            color: var(--secondary-5);
            font-size: 1.8rem;
            font-weight: 700;
        }
    }
    .image {
        width: 60%;
        padding: 70px 20px;
        .card_container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: start;
            gap: 16px;
            .card {
                overflow: hidden;
                border-radius: 30px;
                h3 {
                    background: var(--primary-8);
                    font-size: 1.5rem;
                    margin-bottom: 0;
                    text-align: center;
                    text-transform: capitalize;
                }
                .card-image {
                    position: relative;
                    p {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: var(--primary-1);
                        color: var(--secondary-7);
                        padding: 5px 20px;
                        font-size: 2rem;
                    }
                }
                
            }
            .card:nth-child(odd) {
                margin-top: -30px;
            }
            .card:hover {
                transform: scale(1.03);
                transition: var(--transition);
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 991px) {
    .hero {
        h1 {
            margin: 50px 0 20px;
            font-size: 3rem;
        }
        .container {
            align-items: start;
        }
    }
    .home_about {
        flex-direction: column;
        article {
            width: 100%;
        }
        .image {
            width: 100%;
            .card_container {
                grid-template-columns: repeat(1, 1fr);
                align-items: center;
                .card:nth-child(odd) {
                    margin-top: 0;
                }
            }
        }
    }
}
/* -------------------------- about of cities -------------------------------------------- */

.wellington_about,
.prague_about,
.cusco_about,
.arusha_about {
    background: var(--primary-10);
    padding: 50px 0;
    margin: 0 auto;

    
    h1 {
        width: 90%;
        margin: 60px auto;
        text-align: center;
        font-size: 2.5rem;
        span {
            padding: 10px;
            border: 1px solid var(--secondary-3);
        }
        
        span:nth-child(even) {
            background: var(--secondary-3);
            color: var(--primary-white);
        }
    }

    .card_container {
        width: 90%;
        margin: 0 auto;
        .video_container {
            position: relative;
            width: 90%;
            padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625) */
            height: 0;
            overflow: hidden;
            margin: 30px auto;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .card {
            width: 90%;
            margin: 30px auto;
            padding: 20px;
            border: 3px solid var(--secondary-3);
            h2 {
                border-top: 3px solid var(--secondary-3);
                padding-top: 20px;
                margin-top: 20px;
                font-size: 2.5rem;
            }
            
            p {
                font-size: 1.1rem;
            }

            p::first-letter {
                color: var(--secondary-5);
                font-size: 1.8rem;
                font-weight: 700;
            }
        }
    }

}

@media (min-width: 0px) and (max-width: 768px) {
    .wellington_about {
        h1 {
            font-size: 1.6 rem;
            span {
                display: block;
            }
        }
    }

    .wellington_about,
    .prague_about,
    .cusco_about,
    .arusha_about {
        h1 {
            font-size: 1.6rem;
        }
    }
}
/* -------------------------- attraction of cities -------------------------------------------- */

.wellington_attractions,
.prague_attractions,
.cusco_attractions,
.arusha_attractions {
    background: var(--primary-10);
    padding: 50px 0;
    
    h1 {
        width: 90%;
        margin: 60px auto 60px;
        text-align: center;
        font-size: 2.5rem;
        span {
            padding: 10px;
            border: 1px solid var(--secondary-3);
        }
        
        span:nth-child(even) {
            background: var(--secondary-3);
            color: var(--primary-white);
        }
    }
    .card_container {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 30px;
        .card {
            border: 2px solid var(--secondary-3);
            border-radius: 20px;
            overflow: hidden;
            .info {
                padding: 10px;
                h2 {
                    margin-top: 10px;
                    font-size: 1.5rem;
                    height: 4rem;
                }
                p {
                    padding: 5px;
                    border: 1px dashed var(--secondary-5);
                    border-radius: 10px;
                    i {
                        color: var(--secondary-3);
                    }
                }
                p::first-letter {
                    color: var(--secondary-5);
                }
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .wellington_attractions {
        h1 {
            font-size: 1.6rem;
            span {
                display: block;
            }
        }
        .card_container {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .prague_attractions,
    .cusco_attractions,
    .arusha_attractions {
        h1 {
            font-size: 1.6rem;
        }
        .card_container {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
/* -------------------------- food of cities -------------------------------------------- */
.wellington_food,
.prague_food,
.cusco_food,
.arusha_food {
    background: var(--primary-10);
    padding: 50px 0;

    h1 {
        width: 90%;
        margin: 60px auto 60px;
        text-align: center;
        font-size: 2.5rem;
        span {
            padding: 10px;
            border: 1px solid var(--secondary-3);
        }
        
        span:nth-child(even) {
            background: var(--secondary-3);
            color: var(--primary-white);
        }
    }

    .card_container {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 30px;
        .card {
            border: 2px solid var(--secondary-3);
            border-radius: 20px;
            overflow: hidden;
            .info {
                padding: 10px;
                h2 {
                    border-top: 1px solid var(--secondary-3);
                    margin-top: 5px;
                    padding-top: 10px;
                    font-size: 1.3rem;
                    height: 3rem;
                }
                p {
                    padding: 5px;
                    border: 1px dashed var(--secondary-5);
                    border-radius: 10px;
                }
                p::first-letter {
                    color: var(--secondary-5);
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .wellington_food,
    .prague_food,
    .cusco_food,
    .arusha_food {
        h1 {
            font-size: 1.8rem;
        }
        .card_container {
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }
    }

}

@media (min-width: 0px) and (max-width: 768px) {
    .wellington_food,
    .prague_food,
    .cusco_food,
    .arusha_food {
        h1 {
            font-size: 1.6rem;
        }
        .card_container {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
        }
    }
}

/* -------------------------- accommodation of cities -------------------------------------------- */
.wellington_accommodation,
.prague_accommodation,
.cusco_accommodation,
.arusha_accommodation {
    background: var(--primary-10);
    padding: 50px 0;
    
    h1 {
        width: 90%;
        margin: 60px auto 60px;
        text-align: center;
        font-size: 2.5rem;
        span {
            padding: 10px;
            border: 1px solid var(--secondary-3);
        }
        
        span:nth-child(even) {
            background: var(--secondary-3);
            color: var(--primary-white);
        }
    }
    .card_container {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 30px;
        .card {
            border: 2px solid var(--secondary-3);
            border-radius: 20px;
            overflow: hidden;
            .info {
                padding: 10px;
                h2 {
                    margin-top: 10px;
                    font-size: 1.5rem;
                    height: 4rem;
                }
                p {
                    padding: 5px;
                    border: 1px dashed var(--secondary-5);
                    border-radius: 10px;
                    i {
                        color: var(--secondary-3);
                    }
                }
                p::first-letter {
                    color: var(--secondary-5);
                }
                p:nth-child(4)::after {
                    content: " / Night";
                }
                p:last-child a {
                    color: var(--primary-2);
                }
                p:last-child a:hover {
                    background: var(--primary-2);
                    color: var(--primary-white);
                }
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .wellington_accommodation,
    .prague_accommodation,
    .cusco_accommodation,
    .arusha_accommodation {
        h1 {
            font-size: 1.6rem;
            span {
                display: block;
            }
        }
        .card_container {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}



/* -------------------------- transportation of cities -------------------------------------------- */
.wellington_transportation,
.prague_transportation,
.cusco_transportation,
.arusha_transportation {
    background: var(--primary-10);
    padding: 50px 0;
    
    h1 {
        width: 90%;
        margin: 60px auto 60px;
        text-align: center;
        font-size: 2.5rem;
        span {
            padding: 10px;
            border: 1px solid var(--secondary-3);
        }
        span:nth-child(even) {
            background: var(--secondary-3);
            color: var(--primary-white);
        }
    }
    .card_container {
        width: 90%;
        margin: 0 auto;
        .card {
            width: 90%;
            margin: 30px auto;
            padding: 20px;
            border: 3px solid var(--secondary-3);

            h2 {
                font-size: 2rem;
                text-transform: capitalize;
                border-top: 2px solid var(--secondary-5);
                border-left: 10px solid var(--secondary-5);
                padding-top: 10px;
                margin-top: 10px;
            }
            p {
                font-size: 1.1rem;
            }
            p::first-letter {
                color: var(--secondary-5);
                font-size: 1.8rem;
                font-weight: 700;
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .wellington_transportation,
    .prague_transportation,
    .cusco_transportation,
    .arusha_transportation {

        h1 {
            font-size: 1.6rem;
            span {
                display: block;
            }
        }
        .card_container {
            .card {
                h2 {
                    font-size: 1.4rem;
                }
                p {
                    font-size: 1.1rem;
                }
            }
        }
    }
}








